#module/module_32bit/logs/
#module/module_32bit/bins/
#module/module_32bit/.srcs/
#module/module_32bit/DCPs/
#module/module_32bit/Synth/reconfig_modules/
#module/module_32bit/usage_statistics_webtalk.*
#module/module_32bit/Partial_*
__pycache__
output/*
static/**/.srcs
static/**/.Xil
static/**/usage_statistics_webtalk.*
static/**/*.log
